@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 0.5fr);
  grid-template-rows: repeat(10, 90px);
  border: 1px solid black;
}
.tag {
  display: flex;
  font-size: 12px;
  margin: 7px;
}

.A1OFFICE-box-container h2 {
  font-size: 27px;
  margin-top: 20px;
  margin-left: 7px;
}

.table {
  display: flex;
  flex-direction: column;
  margin-top: 7px;
}

.table div {
  display: flex;
  border-top: 1px solid black;
  height: 30px;
  align-items: center;
}

.last {
  border-bottom: 1px solid black;
}
.first {
  background-color: rgb(88, 91, 95);
}

.table div span {
  margin-left: 7px;
}

.contact-box {
  display: flex;
  height: 57vh;
  flex-direction: column;
  justify-content: end;
  margin-left: 7px;
}
.contact-box span {
  margin-bottom: 5px;
}
.contact-number {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.contact-address1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.contact-address2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.select-lang {
  margin-bottom: 15px;
}
.contact-title {
  font-weight: 600;
  margin-bottom: 5px;
}

.Home-box-container h2 {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  margin-left: 7px;
  margin-top: 50px;
  word-spacing: 3px;
}

.Home-box-container span {
  margin-left: 7px;
}

.Home-box-letter {
  display: flex;
  flex-direction: column;
  margin-top: 7px;
  font-size: 12px;
}
.Home-box-letter span {
  margin-top: 10px;
}

.Service-box-container span {
  font-size: 12px;
  margin-top: 7px;
  margin-left: 7px;
}

.Service-box-container h2 {
  display: flex;
  flex-direction: column;
  margin-left: 7px;
  justify-content: flex-end;
  height: 140px;
  font-size: 27px;
  font-weight: 300;
}

.Service-box {
  height: 160px;
}

.A1OFFICE-box-container {
  grid-area: 1 / 1 / 11 / 4;
  border: 1px solid black;
}

.Home-box-container {
  grid-area: 1 / 4 / 9 / 7;
  border: 1px solid black;
}

.Service-box-container {
  grid-area: 9 / 4 / 11 / 7;
  border: 1px solid black;
}

img {
  width: 100%;
  height: 100%;
}

.box-1 {
  grid-area: 1 / 7 / 9 / 10;
  border: 1px solid black;
}

.box-2 {
  grid-area: 1 / 10 / 5 / 13;
  border: 1px solid black;
}
.box-3 {
  grid-area: 5 / 10 / 7 / 12;
  border: 1px solid black;
}
.box-4 {
  grid-area: 5 / 12 / 6 / 13;
  border: 1px solid black;
}
.box-5 {
  grid-area: 6 / 12 / 7 / 13;
  border: 1px solid black;
}
.box-6 {
  grid-area: 7 / 10 / 9 / 11;
  border: 1px solid black;
}
.box-7 {
  grid-area: 7 / 11 / 9 / 13;
  border: 1px solid black;
}
.box-8 {
  grid-area: 9 / 7 / 11 / 8;
  border: 1px solid black;
}
.box-9 {
  grid-area: 9 / 8 / 10 / 9;
  border: 1px solid black;
}
.box-10 {
  grid-area: 10 / 8 / 11 / 9;
  border: 1px solid black;
}
.box-11 {
  grid-area: 9 / 9 / 11 / 13;
  border: 1px solid black;
}
