@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 40px 1080px 40px;
  grid-template-rows: 30px 350px 300px 60px 30px;
  grid-template-areas:
    "top-white-tab top-white-tab top-white-tab"
    "left-orange-tab image right-to-green-tab"
    "left-white-tab image right-to-bot-tab"
    "left-icon-tab image right-to-bot-tab"
    "bottom-white-tab bottom-white-tab bottom-white-tab";
}

.top-white-tab {
  grid-area: top-white-tab;
  border: solid;
  border-color: orange;
  text-align: center;
  padding-top: 3px;
}

.left-orange-tab {
  padding-right: 9px;
  grid-area: left-orange-tab;
  background: orange;
  color: white;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 13px;
  border: solid;
  border-color: orange;
}

.left-white-tab {
  padding-right: 9px;
  grid-area: left-white-tab;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 13px;
  border: solid;
  border-color: orange;
  padding-top: 5px;
}

.left-icon-tab {
  grid-area: left-icon-tab;
  font-size: 12px;
  border: solid;
  border-color: orange;
}

.image {
  grid-area: image;
}

.right-to-green-tab {
  grid-area: right-to-green-tab;
  border: solid;
  border-color: orange;
  writing-mode: vertical-rl;
  text-orientation: upright;
  padding-right: 8px;
  padding-top: 5px;
}

.right-to-bot-tab {
  grid-area: right-to-bot-tab;
  border: solid;
  border-color: orange;
  writing-mode: vertical-rl;
  text-orientation: upright;
  padding-top: 5px;
  padding-right: 8px;
}

.bottom-white-tab {
  grid-area: bottom-white-tab;
  border: solid;
  border-color: orange;
  text-align: center;
  padding-top: 3px;
}

.ins-logo {
  margin-left: 3px;
  position: absolute;
}
.youtube-logo {
  margin-top: 30px;
  position: absolute;
}

.title {
  text-align: center;
  margin-top: 400px;
  margin-left: 350px;
  position: absolute;
  font-size: 70px;
  color: rgb(125, 173, 229);
}
